    small{
        color: rgba(255,0,0, 0.68);
    }
    .margin-15px{
      margin: 15px;
    }
    
    .erro-senhas{
      font-size: 16px;
      color: #59c9a5;
      text-align: center;
    }
    .holder{
      position: absolute;
      margin-top: 4%;
      margin-left: 50%;
      font-size: 20px; 
    }
    
  
  
    

        
